h1 {
  color: red;
}
.dob {
  color:#EEE8AA
}
body {
  background-color: #5032CD32

}
.button {
  border: none;
  color:#32CD32;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.containers {
  text-align: center;
}
